<html>

  <head>
      <title>Django Girls blog</title>
  </head>
<body>
    <div>
        <h1><a href="">django Gils Blog</a><h1>

    </div>

    {% for post in posts %}
        <p> published: 03.8.206, 20:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Molly eu fran. gordinha dog</p>
    {% endfor %}

    {% for post in posts %}
        <p>published: published: 03.8.206, 20:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Pretinha e eu. zangada... Me morde</p>

    {% endfor %}

</body>

</html>
